# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Bwf.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\src\Bwf\.idea\.idea.Bwf\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
